.home__header {
    max-width: 1100px;
    margin: 0 auto;
}

.home__header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
}


.produtos__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
}

@media (max-width: 1600px) {
    .produtos__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1100px) {
    .produtos__grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
