.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    color: #ffffff;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar__left,
.navbar__right {
}

.navbar__center {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.user__section {
    display: flex;
}

.user__perfil {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
}

.user__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.username {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.navbar__center {
    gap: 1rem;
}

.nav__logo {
    cursor: pointer;
    transition: 0.2s ease;
    width: 100px;
    object-fit: cover;
}

.nav__logo:hover {
    opacity: 0.8;
}

.cart__btn {
    background: #ffffff;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
    transition: 0.2s ease;
}

.cart__btn:hover {
    background: #f1f5f9;
}

.cart__btn__secundary {
    background: var(--color-primary-hover);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s ease;
}
