.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #045d69;
    color: #ffffff;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar__left,
.navbar__right {
}

.navbar__center {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.user__section {
    display: flex;
}

.user__perfil {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
}

.user__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.username {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.navbar__center {
    gap: 1rem;
}

.nav__text {
    font-weight: 600;
}

.cart__btn {
    background: #3d96a1;
    padding: 0.5rem 0.9rem;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #022c2c;
}

.cart__btn__secundary {
    background: #134047;
    padding: 0.5rem 0.9rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
}
